.c1{
    background-color: cornflowerblue;
    border-radius: 5px;

    
}
.c2{
    /* border: 2px; */

}
.c3{
    font-size: larger;
}
image{
    width: 100px;;
}
.centar{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 20%;
    border: 5px solid rgb(113, 113, 214);
    border-radius: 5px;
    
}
.name{
    text-align: center;
}